<footer class="py-5 border-top footer-custom">
    <div class="row justify-content-center align-items-center" style="--bs-gutter-x: 0;">
        <div class="col-12 col-md-2 mb-3 mb-md-0">
            <a target="_blank" routerLink="/home"
                class="d-flex align-items-center justify-content-center mb-3 me-md-auto link-body-emphasis text-decoration-none">
                <img src="https://i.ibb.co/tKV9fKn/logo-tech2.png" alt="Logo" width="100"
                    class="d-inline-block align-text-top">
            </a>
        </div>
        <div class="col-6 col-md-2">
            <h5>Sección</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="/index.html" class="nav-link p-0 text-body-secondary">Inicio</a></li>
                <li class="nav-item mb-2"><a href="projects-list" routerLink="projects-list"
                        class="nav-link p-0 text-body-secondary">Cursos realizados</a></li>
                <li class="nav-item mb-2"><a href="#contacto" 
                        class="nav-link p-0 text-body-secondary">Contactame</a></li>
                <li class="nav-item mb-2"><a href="https://www.awwwards.com/inspiration_search/"
                        class="nav-link p-0 text-body-secondary">Encuentra inspiración</a></li>
            </ul>
        </div>



        <div class="col-md-4 mb-3 text-center">
            <form>
                <h5>Subscríbete al Newsletter Tech chef.</h5>
                <p>Proximamente recibiras las noticias mas actuales directamente en tu correo.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                    <label for="newsletter1" class="visually-hidden">Email address</label>
                    <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                    <button class="btn btn-outline-light" type="button">Subscribe</button>
                </div>
            </form>
            
        </div>

        <div class="col text-center">
            <ul class="list-unstyled d-flex justify-content-center align-items-center">
                <li class="ms-3">
                    <a target="_blank" class="link-body-emphasis" href="">
                        <i class="bi bi-github fs-1"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a target="_blank" class="link-body-emphasis" href="https://www.instagram.com/jehiell">
                        <i class="bi bi-instagram fs-1"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a target="_blank" class="link-body-emphasis" href="https://www.linkedin.com/in/jehiel-linarez/">
                        <i class="bi bi bi-linkedin fs-1"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center ">
            <small>&copy; 2024 Jehiel Linarez. Puede ser que algunos derechos esten reservados.</small>
        </div>
    </div>
</footer>
<style>
    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 800px;
        margin-bottom: 1rem;
    }
</style>