@if (activedLoader){
<div class="loader-container">

    <div class="loader">
        <div style="--i:1" class="loader_item"></div>
        <div style="--i:2" class="loader_item"></div>
        <div style="--i:3" class="loader_item"></div>
        <div style="--i:4" class="loader_item"></div>
        <div style="--i:5" class="loader_item"></div>
        <div style="--i:6" class="loader_item"></div>
        <div style="--i:7" class="loader_item"></div>
        <div style="--i:8" class="loader_item"></div>
        <div style="--i:9" class="loader_item"></div>
        <div style="--i:10" class="loader_item"></div>
        <div style="--i:11" class="loader_item"></div>
        <div style="--i:12" class="loader_item"></div>
    </div>

</div>
}@else{
<div class="text-white custom-main">
    <div class="parallax">
        <div class="col-md-6 px-0">
            <div class="overlay">
                <h1 class="display-4 fst-italic text-center">A space trip in <span class="custom-name"
                        style="font-weight: 400;"> 42 </span> <span class="custom-othername" style="font-weight: 400;">
                        Campus Madrid.</span> <br>

                </h1>
                <p class="lead my-3 custom-text" style="font-weight: 400;"> <br>
                    El origen de la vida, el universo y todo lo demas...
                    <br>
                    Conoce todos y cada uno de mis proyectos como estudiante del campus 42.
                </p>
            </div>
        </div>
    </div>


</div>
<div>
    <div class="custom-main p-5 py-5">
        <div class="main-timeline-2">
            <div class="timeline-2 left-2">
                <div data-aos="fade-up" data-aos-duration="1500" class="card bg-dark text-light">
                    <img src="./assets/intergalactic.jpg" class="card-img-top" alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">Libft | Funciones | C</h4>
                        <p class=" mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2024</p>
                        <p class="mb-0">Pilar fundamental de nuestros futuros proyectos, nuestra libreria intergalactica
                            sera la encargada de brindarnos todas las funciones necesarias para continuar adelante con
                            el cursus, ayudandote aprender principios basicos de arrays, manipulación de punteros, uso
                            de memoria y te acostumbraras a la sintaxis de C, este es un paso importante para lo que
                            viene despues".</p>

                        <a target="_blank" href="https://github.com/JehielL/libft">

                            <button class="btn btn-outline-light">
                                ¡Take a look!
                            </button>
                        </a>


                    </div>
                </div>
            </div>
            <div class="timeline-2 right-2">
                <div data-aos="fade-up" data-aos-duration="1500" class="card">
                    <img src="./assets/gnl.jpg" class="card-img-top" alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">Get next line | C</h4>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2024</p>
                        <p class="mb-0">"Leer una línea de un fd es demasiado aburrido...¿Por qué no leer múltiples
                            líneas?"
                            <br>
                            Get next line es un proyecto que nos invita a crear un programa que debe leer una línea,
                            almacenarla en un buffer y devolverla cada vez que se llama la función. Este proyecto nos
                            permite entender mejor la manipulación de archivos, las variables static y la gestión de
                            memoria en C, poniendo a prueba nuestros conocimientos.
                        </p>

                        <a target="_blank" href="https://github.com/JehielL/Get-next-line-42">

                            <button class="btn btn-outline-dark">
                                ¡Get the next!
                            </button>
                        </a>

                    </div>
                </div>
            </div>
            <div class="timeline-2 left-2">
                <div data-aos="fade-up" data-aos-duration="1500" class=" card bg-dark text-light">
                    <img src="./assets/b2br.jpg" class="card-img-top" alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">Born2BeRoot | Linux</h4>
                        <p class=" mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2024</p>
                        <p class="mb-0">Entre el titulo y la imagen, creo que os he dado ya una pista, en Born2BeRoot el
                            objetivo principal es configurar un sistema operativo desde cero, comprendiendo y aplicando
                            conceptos clave como la gestión de usuarios y permisos, la configuración de un firewall, la
                            instalación y configuración de servicios, y la seguridad básica del sistema. </p>
                    </div>
                </div>
            </div>
            <div class="timeline-2 right-2">
                <div data-aos="fade-up" data-aos-duration="1500" class="card">
                    <img src="./assets/print.jpg" class="card-img-top" alt="ft_printf">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4"> Ft_printf | Funciones | C</h4>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2024</p>
                        <p class="mb-0">
                            Printf es un proyecto en el que recreas la función printf de la biblioteca estándar de C,
                            una de las más utilizadas para la salida formateada en programas. Este proyecto te ayuda a
                            entender profundamente el manejo de funciones variádicas, el formateo de cadenas, y la
                            manipulación de tipos de datos en C.
                        </p>
                        <a target="_blank" href="https://github.com/JehielL/ft_printf_42">
                            <button class="btn btn-outline-dark">
                                ¡Let's write!
                            </button>
                        </a>

                    </div>
                </div>
            </div>
            <div class="timeline-2 left-2">
                <div data-aos="fade-up" data-aos-duration="1500" class="card bg-dark text-light">
                    <img src="./assets/solong.png" class="card-img-top" alt="so long game">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">So long | Videojuegos | C</h4>
                        <p class="mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2024</p>
                        <p class="mb-0">Es hora de divertirnos, en este proyecto desarrollas un pequeño juego en 2D,
                            aprendiendo a manejar gráficos, eventos de teclado y ventanas en C usando la biblioteca
                            MinilibX. En este proyecto, te familiarizas con conceptos fundamentales como la gestión de
                            memoria, loops de eventos y detección de colisiones. Me he inspirado en un link que se
                            encarga de salvar gatitos y debe encontrar la salida... Personalmente, uno de los proyectos
                            mas divertidos hasta ahora.</p>
                        <a target="_blank" href="https://github.com/JehielL/so_long">

                            <button class="btn btn-outline-light">
                                ¡Let's Play, save the cats!
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="timeline-2 right-2">
                <div data-aos="fade-up" data-aos-duration="1500" class="card">
                    <img src="./assets/pipex.jpg" class="card-img-top" alt="Pipex">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">Pipex | Programación | C</h4>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2024</p>
                        <p class="mb-0">Pipex es un proyecto en el que aprendes a manejar la redirección de entradas y
                            salidas entre procesos en Linux, replicando la funcionalidad de una tubería (pipe). En este
                            proyecto, profundizas en conceptos clave como execve, fork, y especialmente heredoc, que
                            permite redirigir entradas hasta una palabra clave, este proyecto sube el grado de
                            dificultad y es la entrada para la gran <strong>Minishell</strong>.</p>

                        <a target="_blank" href="https://github.com/JehielL/pipex">

                            <button class="btn btn-outline-dark">
                                ¡Pipe and pipex!
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="timeline-2 left-2">
                <div data-aos="fade-up" class="card bg-dark text-light">
                    <img src="./assets/pushswap.jpg" class="card-img-top" alt="Push swap">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">Push Swap | Algoritmia | C</h4>
                        <p class="mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2024</p>
                        <p class="mb-0">Es un proyecto en el que desarrollas un algoritmo eficiente para ordenar una
                            pila de números utilizando un conjunto limitado de operaciones. A través de este proyecto,
                            aprenderás sobre la optimización de algoritmos, el uso eficiente de la memoria y las
                            estructuras de datos como pilas y listas enlazadas..</p>
                        <button class="btn btn-outline-light">
                            ¡Coming soon...Actualmente trabajo en este proyecto!
                        </button>
                    </div>
                </div>
            </div>


        </div>
        <div data-aos="fade-up" class="imagegif image-fluid">
            <img src="./assets/firegif.gif" alt="42" class="img-fluid">
        </div>
        <div class="text-white custom-main">
            <div class="parallax">
                <div class="col-md-6 px-0">
                    <div class="overlay">
                        <h1 class="display-4 fst-italic text-center">The <span class="custom-name"
                                style="font-weight: 400;">end?</span>
                            <span class="custom-othername" style="font-weight: 400;">(for now).</span> <br>
                        </h1>
                        <p class="lead my-3 custom-text" style="font-weight: 400;"> <br>
                            Hemos llegado al final de los proyectos realizados, es un camino emocionante y enriquecedor que
                            apenas está comenzando. Día a día, les traeré actualizaciones sobre mi avance en
                            <strong>42</strong>. Próximamente incluiremos guías de estudio para ayudarte en tu camino
                            viajero intergaláctico. Gracias por llegar hasta aquí. Cualquier duda, no dudes en contactarme.
                        </p>
                    </div>
                </div>
            </div>
            

        </div>


    </div>
</div>
}