<nav class="navbar navbar-expand-md bg-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">
      <img class="ms-3" src="https://i.ibb.co/tKV9fKn/logo-tech2.png" alt="Tech Logo" style="max-width: 100px;">
    </a>

    <button class="navbar-toggler text-white" type="button" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon text-white"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="!collapsed">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="blog-tech">Blog sobre tecnología</a>
        </li>
      </ul>

      <!-- Botones de usuario aquí -->
      <a href="https://github.com/JehielL" class="btn btn-login mx-2">
        <i class="bi bi-github"></i> My GitHub
      </a>
    </div>
  </div>
</nav>
