@if (activedLoader) {

<div class="loader-container">

    <div class="loader">
        <div style="--i:1" class="loader_item"></div>
        <div style="--i:2" class="loader_item"></div>
        <div style="--i:3" class="loader_item"></div>
        <div style="--i:4" class="loader_item"></div>
        <div style="--i:5" class="loader_item"></div>
        <div style="--i:6" class="loader_item"></div>
        <div style="--i:7" class="loader_item"></div>
        <div style="--i:8" class="loader_item"></div>
        <div style="--i:9" class="loader_item"></div>
        <div style="--i:10" class="loader_item"></div>
        <div style="--i:11" class="loader_item"></div>
        <div style="--i:12" class="loader_item"></div>
    </div>

</div>
}@else {
<div class="p-4 p-md-5 text-white rounded parallax">
    <div class="col-md-6 px-0">
        <div class="overlay">
            <h1 class="display-4 fst-italic text-center">The <span class="custom-name" style="font-weight: 400;">code
                    wars</span> <br>
                is <span class="custom-name">here !</span>
            </h1>
            <p class="lead my-3 custom-text" style="font-weight: 400;"> <br>
                ¡Prepárate, porque la batalla está por comenzar
                <br>
                En este artículo, exploraremos cómo la gamificación del desarrollo se convierte en un poderoso
                catalizador para el aprendizaje, atrayendo e inspirando a las futuras generaciones de programadores.
            </p>
            <p class="lead mb-0"><a href="#about-42" class="text-white fw-bold">Continuar leyendo...</a></p>
        </div>
    </div>
</div>




<main class="container mt-5 mb-5">


    <div class="horizontal-bars mb-3"></div>
    <br>
    <div class="row g-5">
        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <!-- Contenedor de imágenes -->
                <div id="carouselExampleCaptions" class="carousel box-shadow slide bg-light" data-bs-ride="carousel"
                    style="border-radius: 20px;">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner" style="border-radius: 20px;">
                        <div class="carousel-item active">
                            <img style="border-radius: 20px; object-fit: cover; width: 100%; height: 300px;"
                                src="https://certidevs.com/wp-content/uploads/2023/03/certidevs-banner.svg"
                                class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="text-black">Certidevs</h5>
                                <p></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img style="border-radius: 20px; object-fit: cover; width: 100%; height: 300px;"
                                src="https://i0.wp.com/universinside.com/wp-content/uploads/2023/02/VideoIntro_6_Chica-1-scaled.jpg?resize=1280%2C720&ssl=1"
                                class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Universinside</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img style="border-radius: 20px; object-fit: cover; width: 100%; height: 300px;"
                                src="https://www.42madrid.com/wp-content/uploads/2020/04/Studio-42.jpg" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>42 Studio!</h5>
                            </div>
                        </div>
                    </div>

                </div>


                <br>

                <!-- Bloque "About" -->
                <div class="p-4 mb-3 bg-light rounded box-shadow about">
                    <h4 class="fst-italic">About "A tales of bites."</h4>
                    <p class="mb-0">Blog dedicado al diseño, tecnología, video juegos y demás.</p>
                </div>

                <!-- Bloque "Publicaciones anteriores" -->
                <div class="p-4 bg-light rounded box-shadow">
                    <h4 class="fst-italic">Publicaciones anteriores.</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a class="text-dark" href="#">May 2024</a></li>
                    </ol>
                </div>

                <!-- Bloque "Te podría interesar" -->
                <br>
                <div class="p-4 bg-light rounded box-shadow">
                    <h4 class="fst-italic">Te podría interesar.</h4>
                    <ol class="list-unstyled">
                        <li><a href="https://retosdeprogramacion.com/" class="text-black">Retos de programación</a></li>
                        <li><a href="https://certidevs.com/" class="text-black">Formación gratuita</a></li>
                        <li><a href="#" class="text-black">Tech chef</a></li>
                    </ol>
                </div>
            </div>

        </div>
        <div class="col-md-8">

            <article id="about-42" class="blog-post box-shadow rounded p-4 bg-light lead" style="text-align: justify;">
                <h3 class="blog-post-title"> 42, 43, 44... El secreto de la vida, el universo y todo lo demás.
                </h3>
                <p class="blog-post-meta">Mayo 2, 2024 by <a href="#" class="text-dark">Jehiel Linarez</a></p>

                <hr>

                <div class="container" style="text-align: justify;">

                    <p class="lead">42 Madrid es el campus de programación más innovador del mundo, con una metodología
                        innovadora <strong>Peer-To-Peer</strong>, donde no hay profesores, los estudiantes son quienes
                        desarrollan y plantean los metodos de estudio, logrando una formación que te abre las
                        puertas al mercado laboral con un 100% de inserción. Gratuito, con una metodología
                        revolucionaria y una duración media de tres
                        años, está abierto las 24 horas del día, 7 días a la semana para que puedas aprender a tu
                        ritmo. <br>
                        ¡Up to you!</p>

                </div>

                <h4>Tu futuro</h4>
                <blockquote class="blockquote">
                    <p>Y el como puede <strong>42</strong> cambiar tu vida.</p>
                </blockquote>
                <div class="container" style="text-align: justify;">
                    <p class="lead">
                        En <strong>Campus 42 Madrid</strong>, la innovación no solo se encuentra en sus puertas abiertas
                        las 24 horas del día, sino también en su metodología de enseñanza
                        revolucionaria. Aquí, no importa si eres un experto en programación o un novato completo; lo
                        único que se requiere es una actitud de aprendizaje y determinación. Con una duración media de
                        tres años, este campus ofrece una formación integral que te prepara para el exigente mercado
                        laboral de la programación.
                    </p>
                </div>

                <h4>Objetivos</h4>
                <blockquote class="blockquote" style="text-align: justify;">
                    <p>Get out of the black hole.</p>
                </blockquote>

                <div class="container" style="text-align: justify;">
                    <p>
                        Tenemos objetivos muy claros dentro de <strong>42</strong>, vencer a
                        <strong>Moulinette</strong>, alejarnos del black hole y no caer en los TIGS, pero ¿de que se
                        trata todo esto? <br>
                        No te lo voy a decir, el indicado para esto es <span class="text-gradient"
                            style="font-weight: bolder;">Marvin</span>, solo preparate para la experiencia que cambiará
                        tu vida, porque en <strong>42</strong> no solo aprenderás a programar, aprenderás a aprender.

                    </p>
                    <h5>Para lograrlo, tienes una ruta muy clara:</h5>
                    <ul>
                        <li>Entra en la <a class="text-dark" href="https://www.42madrid.com/"> <strong>pagina
                                    web</strong></a> del campus, registrate y debes realizar un test gamificado.</li>
                        <li>Inscribete en las <strong>piscinas</strong> que el campus coloca a tu disposición en su
                            pagina web.</li>
                        <li>Procura dar el todo de ti, los criterios de admisión solo los conoce <span
                                class="text-gradient" style="font-weight: bolder;">Marvin</span>, pero si das el 100%,
                            tienes tu sitio en el campus.</li>
                        <li>Kick off, comienza la acción.</li>

                    </ul>

                    <h5>Y si haz llegado a este punto recuerda:</h5>
                    <ul>
                        <li>Investiga, estudia, no te quedes con una respuesta.</li>
                        <li>No mires Github.</li>
                        <li>Alejate del Blackhole.</li>
                        <li>Cuidate de los tigs.</li>
                        <li>Evalua, el peer to peer es lo mas importante.</li>
                        <li>Manten tu campús limpio, es de todos.</li>
                    </ul>

                    <h5>Duración y tiempo</h5>
                    <ul>
                        <li>Common core: <strong>1.5 años.</strong></li>
                        <p>Periodo de estudios base, debes realizar todos los proyectos obligatorios dentro de
                            <strong>42</strong> para ser considerado alumno permanente.
                        </p>
                        <li>Especialización: <strong>1 a 1.5 años.</strong></li>
                        <p>Periodo de Especializacion, puedes elegir ramas como : ciberseguridad, desarrollo de
                            videojuegos, desarrollo web, Big Data, Machine Learning y sistemas.</p>
                        <li>Proyectos: <strong>2 semanas a 3 meses.</strong></li>
                        <p>La moulinette es exigente, nuestros estudiantes son exigentes, tu debes ser exigente, cada
                            proyecto lleva su periodo y lo mas importante es que lo hagas paso a paso, no te sales, no
                            te apures, 42 esta diseñado para que puedas desarrollar tus proyectos de manera correcta, de
                            diferentes complejidades, uno a uno te llevara a la excelencia como desarrollador.</p>

                    </ul>

                </div>

                <h4>¿What about the fun? </h4>

                <p>Es verdad, siempre llegamos a estar parte y se me olvida lo importante, lo que nos mueve, lo que nos
                    hace ser mejores, lo que nos hace ser <strong>42</strong>:
                    <strong>¡Divertirnos!</strong> <br>

                    Te rodearas de un entorno divertido, de compañerismo, amigable y de aprendizaje, donde contaremos
                    con iniciativas como las ligas, el sistema de casas o facciones, el peer to peer, el studio 42, las
                    actividades semanales, los diferentes eventos y algun que otro secreto que se esconde en el campus.
                </p>




            </article>

        </div>


    </div>



</main>
}