@if (activedLoader) {

<div class="loader-container">

    <div class="loader">
        <div style="--i:1" class="loader_item"></div>
        <div style="--i:2" class="loader_item"></div>
        <div style="--i:3" class="loader_item"></div>
        <div style="--i:4" class="loader_item"></div>
        <div style="--i:5" class="loader_item"></div>
        <div style="--i:6" class="loader_item"></div>
        <div style="--i:7" class="loader_item"></div>
        <div style="--i:8" class="loader_item"></div>
        <div style="--i:9" class="loader_item"></div>
        <div style="--i:10" class="loader_item"></div>
        <div style="--i:11" class="loader_item"></div>
        <div style="--i:12" class="loader_item"></div>
    </div>

</div>
}@else {
<div class="p-4 p-md-5 text-white rounded parallax">
    <div class="col-md-6 px-0">
        <div class="overlay">
            <h1 class="display-4 fst-italic text-center">The <span class="custom-name" style="font-weight: 400;">code
                    wars</span> <br>
                is <span class="custom-name">here !</span>
            </h1>
            <p class="lead my-3 custom-text" style="font-weight: 400;"> <br>
                ¡Prepárate, porque la batalla está por comenzar
                <br>
                En este artículo, exploraremos cómo la gamificación del desarrollo se convierte en un poderoso
                catalizador para el aprendizaje, atrayendo e inspirando a las futuras generaciones de programadores.
            </p>
            <p class="lead mb-0"><a href="#about-42" class="text-white fw-bold">Continuar leyendo...</a></p>
        </div>
    </div>
</div>
<main class="container mt-5 mb-5">


    <div class="horizontal-bars mb-3"></div>
    <br>
    <div class="row g-5">
        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <!-- Contenedor de imágenes -->
                <div id="carouselExampleCaptions" class="carousel box-shadow slide bg-light" data-bs-ride="carousel"
                    style="border-radius: 20px;">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner" style="border-radius: 20px;">
                        <div class="carousel-item active">
                            <img style="border-radius: 20px; object-fit: cover; width: 100%; height: 300px;"
                                src="https://certidevs.com/wp-content/uploads/2023/03/certidevs-banner.svg"
                                class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="text-black">Certidevs</h5>
                                <p></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img style="border-radius: 20px; object-fit: cover; width: 100%; height: 300px;"
                                src="https://i0.wp.com/universinside.com/wp-content/uploads/2023/02/VideoIntro_6_Chica-1-scaled.jpg?resize=1280%2C720&ssl=1"
                                class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Universinside</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img style="border-radius: 20px; object-fit: cover; width: 100%; height: 300px;"
                                src="https://opensource.com/sites/default/files/images/education-uploads/20150702_codecombat.png"
                                alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Codewars</h5>
                            </div>
                        </div>
                    </div>

                </div>


                <br>

                <!-- Bloque "About" -->
                <div class="p-4 mb-3 bg-dark rounded box-shadow about text-light">
                    <h4 class="fst-italic text-light">About "A tales of bites."</h4>
                    <p class="mb-0">Blog dedicado al diseño, tecnología, video juegos y demás.</p>
                </div>

                <!-- Bloque "Publicaciones anteriores" -->
                <div class="p-4 bg-dark text-light rounded box-shadow">
                    <h4 class="fst-italic">Publicaciones anteriores.</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a class="text-light" href="/blog-tech">May 2024</a></li>
                    </ol>
                </div>

                <!-- Bloque "Te podría interesar" -->
                <br>
                <div class="p-4 bg-dark text-light rounded box-shadow">
                    <h4 class="fst-italic">Te podría interesar.</h4>
                    <ol class="list-unstyled">
                        <li><a href="https://retosdeprogramacion.com/" class="text-light">Retos de programación</a></li>
                        <li><a href="https://certidevs.com/" class="text-light">Formación gratuita</a></li>
                        <li><a href="#" class="text-light">Tech chef</a></li>
                    </ol>
                </div>
            </div>

        </div>
        <div class="col-md-8">

            <article id="about-42" class="blog-post box-shadow rounded p-4 bg-light lead" style="text-align: justify;">
                <h3 class="blog-post-title"> Videojuegos, desarrollo y IA: la conexión que transforma el aprendizaje
                </h3>
                <p class="blog-post-meta">Mayo 21, 2024 by <a href="https://www.linkedin.com/in/jehiel-linarez/"
                        class="text-dark">Jehiel Linarez</a></p>

                <hr>

                <div class="container" style="text-align: justify;">

                    <p class="lead">Con el avance de las tecnologías, las nuevas generaciones también van cambiando; son
                        más dinámicas, interesadas y nativas en el uso de la tecnología. Por ello, la educación también
                        debe adaptarse. En este artículo, exploraremos cómo la gamificación del desarrollo, los
                        videojuegos y la inteligencia artificial se convierten en un poderoso catalizador para el
                        aprendizaje, atrayendo e inspirando a las futuras generaciones de programadores.</p>

                </div>

                <h4>El poder de los videojuegos</h4>
                <blockquote class="blockquote">
                    <p>Los videojuegos no son solo diversión; son una puerta de entrada al mundo del desarrollo y la
                        creatividad.</p>
                </blockquote>
                <div class="container" style="text-align: justify;">
                    <p class="lead">
                        Los videojuegos han evolucionado enormemente desde sus inicios, convirtiéndose en plataformas
                        complejas que no solo entretienen, sino que también educan. A través de la gamificación, los
                        principios de diseño y desarrollo de videojuegos se integran en el aprendizaje, haciendo que los
                        estudiantes se involucren más profundamente y de manera más efectiva. La lógica de programación,
                        la resolución de problemas y el pensamiento crítico son habilidades que se desarrollan
                        naturalmente a través del juego.
                    </p>
                </div>

                <h4>La inteligencia artificial en la educación</h4>
                <blockquote class="blockquote" style="text-align: justify;">
                    <p>La IA está revolucionando la forma en que aprendemos y enseñamos.</p>
                </blockquote>

                <div class="container" style="text-align: justify;">
                    <p>
                        La inteligencia artificial (IA) tiene el potencial de personalizar el aprendizaje de manera que
                        antes no era posible. Los sistemas de IA pueden analizar el progreso de los estudiantes y
                        ajustar el contenido y la dificultad de las lecciones en tiempo real, asegurando que cada alumno
                        reciba una educación adaptada a sus necesidades individuales. Además, la IA puede proporcionar
                        retroalimentación instantánea y apoyo, lo que ayuda a los estudiantes a mejorar de manera
                        continua y eficiente.
                    </p>
                    <h5>Integración de IA y gamificación</h5>
                    <ul>
                        <li>Personalización del contenido educativo según el progreso del estudiante.</li>
                        <li>Creación de entornos de aprendizaje interactivos y atractivos.</li>
                        <li>Mejora continua mediante la retroalimentación instantánea y adaptativa.</li>
                    </ul>

                    <h5>El futuro del aprendizaje</h5>
                    <ul>
                        <li>Educación personalizada y adaptativa.</li>
                        <li>Mayor interés y participación de los estudiantes.</li>
                        <li>Desarrollo de habilidades cruciales para el futuro.</li>
                    </ul>

                </div>

                <h4>Retos y oportunidades</h4>
                <div class="container" style="text-align: justify;">
                    <p>
                        A medida que integramos más tecnologías en la educación, también enfrentamos desafíos. Es
                        esencial garantizar que todos los estudiantes tengan acceso a estas herramientas y que los
                        educadores estén capacitados para utilizarlas eficazmente. Sin embargo, las oportunidades son
                        enormes. Con la combinación correcta de videojuegos, desarrollo y IA, podemos transformar el
                        aprendizaje en una experiencia emocionante y enriquecedora.
                    </p>
                </div>

                <div class="container" style="text-align: justify;">
                    <p class="lead">
                        En conclusión, la gamificación del desarrollo y la inteligencia artificial están remodelando el
                        panorama educativo. Al hacer que el aprendizaje sea más interactivo y personalizado, estamos
                        preparando a las futuras generaciones de programadores y desarrolladores para un mundo donde la
                        tecnología y la creatividad van de la mano. Es un futuro emocionante y lleno de posibilidades.
                    </p>
                </div>
            </article>

        </div>


    </div>



</main>
<div class="p-4 p-md-5 text-white rounded parallaxdos">
    <div class="">

        <h1 class="display-4  text-center"><span class="custom-subname">¡Plataformas</span>
            <br>
            <span class="custom-subname">Recomendadas!</span>
        </h1>


    </div>
</div>
<div class="container-fluid mt-5 text-center background-image">
    <div class="container marketing">

        <!-- Cards de compañias recomendadas -->
        <div class="row justify-content-center gap-3">
            <div class="col-md-3 custom-card mt-3 ms-2 mb-3">
                <img class="bd-placeholder-img " width="160" height="140"
                    src="https://i0.wp.com/universinside.com/wp-content/uploads/2022/05/Editable-logotipo-Univers-Inside-PNG-color-2-blanco.png?resize=300%2C221&ssl=1"
                    alt="">
                <h2 class="fw-normal">Univers Inside.</h2>
                <p>Enfocada en encontrar tus soft-skills, <strong>Univers inside</strong>, te brinda entornos
                    gamificados, donde podras
                    mejorar tus procesos de selección de personal, practicar retos y mejorar tus habilidades blandas.
                </p>

                <p><a target="_blank" href="https://universinside.com/"><button>Explorar »</button></a></p>
            </div>

            <div class="col-md-3 custom-card ms-2 mt-3 mb-3">
                <img class="bd-placeholder-img " width="160" height="140"
                    src="https://i.ibb.co/RyPf8fF/certidevs-portada-formacion-removebg-preview.png" alt="">
                <h2 class="fw-normal">Certidevs</h2>
                <p>Enfocado en el desarrollo fullstack, <strong>certidevs </strong>maneja diferentes stacks tecnologicos
                    de estudio, su plataforma especializada en la educación, te brinda un entorno gamificado, evaluado
                    por IA y con clases 100% gratuisas.</p>
                <p><a target="_blank" href="https://certidevs.com/"><button>Explorar »</button></a></p>
            </div>

            <div class="col-md-3 custom-card ms-2 mt-3 mb-3">
                <img class="bd-placeholder-img " width="180" height="140"
                    src="https://codecombat.com/images/pages/base/logo.webp" alt="">
                <h2 class="fw-normal">Code combat </h2>
                <p>Con un gran motor grafico, <strong>Code combat</strong> se posiciona como una plataforma fuerte,
                    especializada en jovenes y principiantes, proporciona un entorno amable donde aprender paso a paso
                    logica y algoritmos, amig.</p>
                <p><a target="_blank" href=""><button>Explorar »</button></a></p>
            </div>
        </div>



        <!-- START THE FEATURETTES -->



        <div class="row featurette mt-5 bg-light p-5 rounded">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Tecnología a tu alcance junto a <span
                        class="text-body-secondary">Certidevs.</span></h2>
                <p class="lead">¡La innovadora startup española fundada por <a target="_blank" class="text-dark"
                        href="https://www.linkedin.com/in/alansastre/"><strong>Alan
                            Sastre</strong></a>! Con un enfoque único en la gamificación de desafíos, te ofreceran
                    la oportunidad de superar retos emocionantes mientras te certificas en tus tecnologías favoritas.
                    Desde frontend hasta backend, pasando por bases de datos, te sumergirás en una experiencia de
                    aprendizaje envolvente y divertida.</p>
                <p class="lead">Como una plataforma especializada en pedagogía, estan comprometidos a compartir su
                    metodología
                    con colegios, empresas y programas de formación profesional. ¿Interesado en implementar en tu
                    entorno educativo o laboral? ¡Buscalos!</p>
                <p class="lead">Si te encuentras buscando empleo, <strong>Certidevs</strong> cuenta con un catalogo de
                    compañias que
                    buscan talento, ¡no pierdas la oportunidad de destacar y ser parte de su comunidad!
                </p>


                <p class="lead">¡crea tu perfil público en CertiDevs y exhibe tu progreso y experiencia día a
                    día con cada desafío superado!</p>



            </div>
            <div class="col-md-5">

                <a href=""><img width="500" height="500"
                        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                        src="https://i.ibb.co/Z8r74rL/Captura-de-pantalla-2024-05-21-204132.png"
                        alt="Captura-de-pantalla-2024-05-21-204132"></a>

            </div>
        </div>

        <div class="horizontal-bars"></div>


        <div class="row featurette mt-5">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Univers Inside. <span class="text-body-secondary">Un
                        nuevo universo.</span></h2>
                <p class="lead">Apoyando el talento, presentamos otra innovadora startup española, liderada por <a
                        target="_blank" class="text-dark"
                        href="https://www.linkedin.com/in/ceciliajimenezgonzalez/"><strong>Cecilia Jiménez
                            González</strong></a>.</p>
                <p class="lead">Univers Inside transforma desafíos en innovación continua mediante una metodología
                    gamificada. Enfocada en detectar los soft-skills de personas, se especializa en identificar y
                    analizar obstáculos,
                    utilizando herramientas avanzadas como la inteligencia artificial para evaluar y desarrollar el
                    talento en las organizaciones.</p>
                <p class="lead">Sus programas están diseñados para medir la capacidad de adaptación al cambio y fomentar
                    una cultura de mejora constante. Con soluciones personalizadas, Univers Inside asegura que cada
                    intervención esté alineada perfectamente con los objetivos de la empresa cliente.</p>
                <p class="lead">Para Univers Inside, innovar no es un lujo, sino una necesidad. Descubre cómo esta
                    empresa puede revolucionar cualquier organización a través del juego.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    src="https://i.ibb.co/THKbMtY/Captura-de-pantalla-2024-05-21-211311.png" alt="" width="500"
                    height="500">
            </div>
        </div>

        <div class="horizontal-bars mt-3"></div>

        <div class="row featurette bg-light p-5 mb-3 rounded">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">The king of game. <span
                        class="text-body-secondary">CodeCombat.</span></h2>
                <p class="lead">CodeCombat, una plataforma educativa líder en programación, ha impactado a más de 20
                    millones de estudiantes en todo el mundo, ayudándoles a desarrollar habilidades críticas y creativas
                    en ciencias de la computación.</p>
                <p class="lead">Con el respaldo de más de 120,000 profesionales y asociaciones destacadas como Amazon,
                    CodeCombat se destaca como una herramienta esencial para la enseñanza de la programación. Su
                    compromiso con la excelencia educativa y la innovación continúa inspirando a la próxima generación
                    de líderes tecnológicos.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    src="https://codecombat.com/images/pages/home-v2/codecombat-classroom.webp" alt="" width="500"
                    height="500">
            </div>
        </div>


    </div>


</div>
<div class="container mt-5 mb-5">
    <h2 class="text-center mb-4">
        Artículos Relacionados
        <hr class="feature-divider">
    </h2>
    <div class="row">
        <!-- Card de artículo relacionado 1 -->
        <div class="col-md-6">
            <div
                class="row g-0 bg-dark lead rounded overflow-hidden flex-md-row mb-4 box-shadow shadow-sm h-md-250 position-relative card-hover">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-white">Artificial intelligence</strong>
                    <h3 class="mb-0 text-white">Powered by AI.</h3>
                    <div class="mb-1 text-muted">May 02</div>
                    <p class="card-text mb-auto text-white">
                        Inteligencia artificial, machine learning, deep learning, ¿qué significan estos términos y cómo
                        afectarán nuestro futuro?
                    </p>
                    <a href="#" class="stretched-link text-black">Continuar leyendo</a>
                </div>
                <div class="col-md-auto d-flex align-items-center">
                    <img class="bd-placeholder-img" width="200" height="100%"
                        src="https://i.ibb.co/L9Lc025/r2xwgj0u.png" alt="Super Paranoid Android 42"
                        aria-label="Super Paranoid Android 42">
                </div>
            </div>
        </div>
        <!-- Card de artículo relacionado 2 -->
        <div class="col-md-6">
            <div
                class="row g-0 bg-dark lead rounded overflow-hidden flex-md-row mb-4 box-shadow shadow-sm h-md-250 position-relative card-hover">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-white">Technology</strong>
                    <h3 class="mb-0 text-white">El universo de 42.</h3>
                    <div class="mb-1 text-muted">May 02</div>
                    <p class="card-text mb-auto text-white">
                        ¿Cuál es el sentido de la vida, el universo y todo lo demás? Nuestro Androide favorito, <span
                            class="text-gradient" style="font-weight: bold;">Marvín</span>, parece tener la respuesta.
                    </p>
                    <a href="blog-tech-detail" class="stretched-link text-white">Continuar leyendo</a>
                </div>
                <div class="col-md-auto d-flex align-items-center">
                    <img class="bd-placeholder-img" width="200" height="100%"
                        src="https://shirtoid.com/wp-content/uploads/2015/02/Super-Paranoid-Android-42.jpg"
                        alt="Super Paranoid Android 42" aria-label="Super Paranoid Android 42">
                </div>
            </div>
        </div>
        <!-- Agrega más cards de artículos relacionados aquí -->
    </div>
</div>
}