@if (activedLoader) {

<div class="loader-container">

    <div class="loader">
        <div style="--i:1" class="loader_item"></div>
        <div style="--i:2" class="loader_item"></div>
        <div style="--i:3" class="loader_item"></div>
        <div style="--i:4" class="loader_item"></div>
        <div style="--i:5" class="loader_item"></div>
        <div style="--i:6" class="loader_item"></div>
        <div style="--i:7" class="loader_item"></div>
        <div style="--i:8" class="loader_item"></div>
        <div style="--i:9" class="loader_item"></div>
        <div style="--i:10" class="loader_item"></div>
        <div style="--i:11" class="loader_item"></div>
        <div style="--i:12" class="loader_item"></div>
    </div>

</div>
}@else {
<div class="p-4 p-md-5 text-white rounded parallax">
    <div class="col-md-6 px-0">
        <div class="overlay">
            <h1 class="display-4 fst-italic">From <span class="custom-name" style="font-weight: 500;">Ramen</span>
                master to <span class="text-gradient" style="font-weight: 500;">Code</span> master.</h1>
            <p class="lead my-3 custom-text" style="font-weight: 400;"> <br>
                En este post descubriras como puede una persona reinventarse una y otra vez, como no darte por vencido y
                como puede el entorno llevarte alcanzar tus sueños, porque cambie los fuegos por los bites, los sabores
                por los códigos y la cocina por la programación.
            </p>
            <p class="lead mb-0"><a href="#about-42" class="text-white fw-bold">Continuar leyendo...</a></p>
        </div>
    </div>

</div>
<main class="container mt-5 mb-5 ">


    <div class="horizontal-bars mb-3"></div>
    <br>
    <div class="row g-5">

        <div class="col-md-8">

            <article id="about-42" class="blog-post box-shadow rounded p-4 bg-light lead" style="text-align: justify;">
                <h3 class="blog-post-title">De Anthony Bourdain a Steve Jobs, cómo una decisión lo cambió todo.
                </h3>
                <p class="blog-post-meta">Mayo 12, 2024 by <a href="https://www.linkedin.com/in/jehiel-linarez/"
                        class="text-dark">Jehiel Linarez</a></p>

                <hr>

                <div class="container" style="text-align: justify;">

                    <p class="lead">
                        Vamos a empezar por algo que me gusta, vamos a romperlo todo, empezaremos este post de la manera
                        mas sincera, hablando como lo hacía una de mis inspiraciones mas grandes a la hora de escribir,
                        de comer y de cocinar, lo haremos <strong>crudo</strong>, porque si algo me caracteriza es ser
                        sincero y este espacio lo he creado para ser libre de expresarme.
                    </p>

                </div>

                <h4>Crudo</h4>

                <div class="container" style="text-align: justify;">
                    <p class="lead">
                        La insatisfacción es un motor de cambio, la insatisfacción es el motor de la evolución, la
                        insatisfacción es lo que nos ha llevado como humanidad a ser lo que somos hoy en día, esa
                        insatisfacción que me hacía replantearme cada mañana si lo que estaba haciendo era lo que
                        realmente querría hacer, habiendo alcanzado desde mi punto de vista el éxito en mi carrera como
                        chef, me encontraba en un punto donde no sabía que hacer, donde no sabía que camino tomar, donde
                        no sabía si lo que estaba haciendo era lo que realmente quería hacer donde me preguntaba...
                        ¿Acaso esto es todo?
                    </p>
                    <blockquote class="blockquote" style="font-size: 15px;">
                        <p> "Si hay algo de lo que soy un promotor es de moverse. Tan lejos como puedas y tanto como
                            puedas.
                            A través de los océanos o simplemente cruzando un río. Caminar en los zapatos de otro o al
                            menos
                            comer su comida es un plus para cualquiera." <br>
                            <strong>Anthony Bourdain.</strong>
                        </p>

                    </blockquote>
                </div>

                <h4>Tiempo</h4>


                <div class="container" style="text-align: justify;">
                    <p>
                        Ingrediente invisible, pero el mas importante, tanto en la vida, en la cocina, como en la
                        programación, es el tiempo quien se encarga de colocar todo en su lugar, es el tiempo quien
                        proporciona los mejores sabores, quien da y quien quita.. fue el tiempo quien unio todos los
                        puntos en su lugar.
                        <br>

                        La pandemía, vaya catastrofe, mucho nos quito, pero algunos, hubo algo que si nos dio,
                        <strong>tiempo,</strong> tiempo para pensar, reinventarnos, cambiar, aprender, soñar, tiempo
                        para ser, todo ese tiempo me llevo a reconectarme con algo que había dejado mucho atras, los
                        estudios, eso tan importante que nos complementa como personas, la curiosidad y parte de mi
                        trabajo como control de calidad de franquicias oh toro, me llevaron a interesarme por la
                        tecnología.

                    </p>

                    <blockquote class="blockquote" style="font-size: 15px;">
                        <p> "Tu tiempo es limitado, así que no lo utilices viviendo la vida de alguien que no eres tú."
                            <br>
                            <strong>Steve Jobs.</strong>
                        </p>

                    </blockquote>



                </div>

                <h4>Hola mundo</h4>


                <div class="container" style="text-align: justify;">
                    <p>
                        A mis 30 años abandoné todo, me encuentraba en ese punto de partida donde ya tenía un camino claro, quería
                        estudiar, parte de mi trabajo como control de calidad, me llevo a estar de la mano con muchos
                        procesos tecnologicos, tales fueron la implementación de un sistema de entregas de reparto a
                        domicilio, TPV, sistemas de control de stock, etc... Por lo cual me interese por la
                        programación, parecía todo mas claro, pero a la vez lejano, el primer paso siempre ha sido el
                        mas dificil y el mas importante, como buen estudiante empiricó empeze por un <strong>¡Hola
                            Mundo!</strong>

                        <br>
                        Mi memoria no tardo en darse cuenta de algo, esto ya lo conocía, esta mitica frase ya la habia
                        escrito antes, ya la habia escuchado antes, conocía su significado. Mi mente rapidamente viajo a
                        cuando solo era un adolecente de 15 años, me empezaban a interesar los video juegos, la
                        tecnología y ya había dado mis primeros pasos dentro del mundo de la programación, en una vieja
                        pentium II que a duras penas logre arrancar, logre lanzar mis primeras lineas de codigo, fue un
                        mitico <strong>¡Hola Mundo!</strong> en un lenguaje que ya no recuerdo, pero que establecería
                        las bases de la cual hoy es mi verdadera pasión: <strong>Desarrollar Software.</strong>


                    </p>

                    <blockquote class="blockquote" style="font-size: 15px;">
                        <p> "El viaje no trata tanto de llegar a un lugar como de viajar en sí mismo."
                            <br>
                            <strong>Anthony Bourdain.</strong>
                        </p>

                    </blockquote>



                </div>

                <h4>Roadmap</h4>


                <div class="container" style="text-align: justify;">
                    <p>
                        Era indetenible, o eso creía... La capacidad que tiene una persona en el año 2024 de estudiar,
                        es casi infinita, con la llegada de nuestra nueva manera de comunicarnos, surgen nuevas maneras
                        de estudios, internet se llena de información, de infinitas posibilidades de aprendizaje y así
                        mismo infinitas lagunas y maneras de perder el tiempo, mis ansias de aprendizaje me llevaron a
                        un sinfin de cursos, tutoriales, videos, lecturas que no me llevaban
                        a ningún lado, hasta que llegaron dos plataformas que me cambiaron la vida y mi manera de
                        estudiar <strong>Fundación Adecco & 42 Campus Madrid Fundación Telefonica.</strong>
                        <br>
                        Aprendí un claro roadmap para lograr mi objetivo:

                    </p>
                    <ul>
                        <li>
                            Aprender las bases de la programación.
                        </li>
                        <li>
                            Enfocarme en un area especifica.
                        </li>
                        <li>
                            Rodearte de personas que te ayuden a crecer.
                        </li>
                        <li>
                            Buscar ayuda.
                        </li>
                        <li>
                            Practicar todos los días.
                        </li>
                        <li>
                            Crear proyectos.
                        </li>
                        <li>
                            Equivocarse.
                        </li>
                        <li>
                            Busca centros de formación.
                        </li>
                    </ul>

                    <blockquote class="blockquote" style="font-size: 15px;">
                        <p> "El único modo de realizar un gran trabajo es amar lo que uno hace. No sean conformistas."
                            <br>
                            <strong>Steve Jobs.</strong>
                        </p>

                    </blockquote>
                    



                </div>

                <h4>El futuro</h4>


                <div class="container" style="text-align: justify;">
                    <p>
                        Incierto, inevitable, tiranico, esperanzador, brillante, el futuro es de esas personas que deciden un día cambiarlo todo, de esas personas que creen en sus sueños, que deciden ser libres, que apuestan en si misma y que entienden que la salida, es mirar hacia dentro.

                        <br>
                        Por ahora lo tengo muy claro, quiero seguir siendo un gran padre y esposo, quiero seguir formandome, entiendo que la tecnología no es una carrera de velocidad, es una carrera de resistencia que se gana con constancia, dedicación y amor por lo que haces, seguire enfocado en mis estudios, ahora como estudiante del gran campus de <strong>42 Madrid Fundación Telefonica</strong>, aprendiendo de mis compañeros y feliz de emprender junto a mi esposa quien me ha apoyado durante todo este proceso y recientemente a comenzado sus estudios como desarrollador web, juntos, llevaremos adelante proyectos como <strong>Tech Chef</strong> adicionalmente estare feliz de conseguir mi primera experiencia laboral, me alegra saber que aun tengo mucho por recorrer.


                    </p>

                    <blockquote class="blockquote" style="font-size: 15px;">
                        <p> "Nuestro futuro depende de como entendamos nuestro pasado."
                            <br>
                            <strong>Gustavo Cerati.</strong>
                        </p>

                    </blockquote>



                </div>

            </article>

        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <!-- Contenedor de imágenes -->
                <div id="carouselExampleCaptions" class="carousel box-shadow slide bg-light" data-bs-ride="carousel"
                    style="border-radius: 20px;">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner" style="border-radius: 20px;">
                        <div class="carousel-item active">
                            <img style="border-radius: 20px; object-fit: cover; width: 100%; height: 300px;"
                                src="https://i.ibb.co/mBG0RSn/img4.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="text-black">Zuma madrid</h5>
                                <p></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img style="border-radius: 20px; object-fit: cover; width: 100%; height: 300px;"
                                src="https://i.ibb.co/C2PHHR2/img2.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Apertura Oh-Toro Santiago</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img style="border-radius: 20px; object-fit: cover; width: 100%; height: 300px;"
                                src="https://i.ibb.co/t31hY0G/img3.jpg" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Zuma madrid</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img style="border-radius: 20px; object-fit: cover; width: 100%; height: 300px;"
                                src="https://i.ibb.co/yPfRLT5/img5.jpg" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Rest. Ivan Cerdeño </h5>
                            </div>
                        </div>
                    </div>

                </div>


                <br>

                <!-- Bloque "About" -->
                <div class="p-4 mb-3 bg-light rounded box-shadow about">
                    <h4 class="fst-italic">About "A tales of bites."</h4>
                    <p class="mb-0">Blog dedicado al diseño, tecnología, video juegos y demás.</p>
                </div>

                <!-- Bloque "Publicaciones anteriores" -->
                <div class="p-4 bg-light rounded box-shadow">
                    <h4 class="fst-italic">Publicaciones anteriores.</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a class="text-dark" href="#">May 2024</a></li>
                    </ol>
                </div>

                <!-- Bloque "Te podría interesar" -->
                <br>
                <div class="p-4 bg-light rounded box-shadow">
                    <h4 class="fst-italic">Te podría interesar.</h4>
                    <ol class="list-unstyled">
                        <li><a href="https://retosdeprogramacion.com/" class="text-black">Retos de programación</a></li>
                        <li><a href="https://certidevs.com/" class="text-black">Formación gratuita</a></li>
                        <li><a href="#" class="text-black">Tech chef</a></li>
                    </ol>
                </div>
            </div>

        </div>


    </div>



</main>
}