@if (activedLoader) {

<div class="loader-container">

    <div class="loader">
        <div style="--i:1" class="loader_item"></div>
        <div style="--i:2" class="loader_item"></div>
        <div style="--i:3" class="loader_item"></div>
        <div style="--i:4" class="loader_item"></div>
        <div style="--i:5" class="loader_item"></div>
        <div style="--i:6" class="loader_item"></div>
        <div style="--i:7" class="loader_item"></div>
        <div style="--i:8" class="loader_item"></div>
        <div style="--i:9" class="loader_item"></div>
        <div style="--i:10" class="loader_item"></div>
        <div style="--i:11" class="loader_item"></div>
        <div style="--i:12" class="loader_item"></div>
    </div>

</div>
}@else {

<div class="p-4 p-md-4  text-white  parallax">
    <div class="col-md-6 px-0">
        <div class="overlay">
            <h1 class="display-4 fst-italic text-center">Once upon <br><span class="custom-name"
                    style="font-weight: 400;">a time:</span> <br> <span class="custom-othername"
                    style="font-weight: 400;"> The Chef life.</span>

            </h1>
            <p class="lead my-3 custom-text" style="font-weight: 400;"> <br>
                Un recorrido por mi vida como chef, desde mis inicios, pasando por grandes logros como miembro fundador
                de oh-toro, llegar a España y trabajar con grandes marcas como Zuma o chef de renombre como Ivan
                Cerdeño.
            </p>
        </div>
    </div>
</div>

<section>
    <div class="container py-5">
        <div class="main-timeline-2">
            <div class="timeline-2 left-2">
                <div class="card bg-dark text-light">
                    <img src="https://i.ibb.co/8rcSMkS/first.png" class="card-img-top" alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">Comienzo | Graduación | Migración</h4>
                        <p class=" mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2012</p>
                        <p class="mb-0">Desde el 2010 me encontraba estudiando, al terminar mis estudios, emigro a
                            Panamá, donde tendría la oportunidad junto al chef David, de dirigir la barra gastronomica
                            "Panamarket Urban Deli Gourtmet".</p>
                    </div>
                </div>
            </div>
            <div class="timeline-2 right-2">
                <div class="card">
                    <img src="https://i.ibb.co/dmG4KwZ/Captura-de-pantalla-2024-06-11-012610.png" class="card-img-top"
                        alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">Disrupción</h4>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2014</p>
                        <p class="mb-0">Mi siguiente experiencia vendría de la mano del grupo NHS en Panamá, con quienes
                            desde Jefe de cocina de su primer Oh-toro, pase a ser supervisor de control de calidad de
                            futuras aperturas, siendo esto uno de mis primeros pasos hacia una gran carrera.</p>
                    </div>
                </div>
            </div>
            <div class="timeline-2 left-2">
                <div class="card bg-dark text-light">
                    <img src="https://i.ibb.co/yBXQ62H/img1.jpg" class="card-img-top" alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">Consolidación</h4>
                        <p class=" mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2015</p>
                        <p class="mb-0">Los frutos del trabajo duro no tardarían en llegar, oh-toro fue solo el primer
                            paso, dado su exito, decidimos emprender en nuevas marcas que marcarían una nueva tendencia
                            en el ambito gastronomico Panameño, fue así como nacio <strong>Marketing Consultant Panama,
                                s.a.</strong></p>
                    </div>
                </div>
            </div>
            <div class="timeline-2 right-2">
                <div class="card">
                    <img src="https://i.ibb.co/N6HgwNg/img2.jpg" class="card-img-top" alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4"> Marketing Consultant Panama, s.a</h4>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2016</p>
                        <p class="mb-0">Dedicada a gestionar diferentes marcas, logre posicionarme como gerente de
                            operaciones, llevando a cabo aperturas y desarrollo de conceptos de marcas como: <a
                                target="_blank" href="https://isakirestaurant.com/">Isaki Casco antiguio</a>, <a
                                target="_blank"
                                href="https://www.degustapanama.com/panama/restaurante/kingpot_105179.html">King
                                pot</a>, <a target="_blank" href="https://misawabakery.com/">Misawa Bakery</a>, <a
                                target="_blank"
                                href="https://www.degustapanama.com/panama/restaurante/maguro_103951.html">Maguro
                                Panamá</a>, <a target="_blank" href="https://wahkeepty.com/">Wah-kee</a>, donde me
                            encargaba desde el reclutamiento del personal, desarrollo y supervisión de campañas de
                            marketing, entrenamiento de equipo, compras, adquisiciones a nivel internacional, desarrollo
                            de manuales de franquicias.</p>
                    </div>
                </div>
            </div>
            <div class="timeline-2 left-2">
                <div class="card bg-dark text-light">
                    <img src="https://i.ibb.co/qsxfp8C/img3.jpg" class="card-img-top" alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">Nuevos modelos de negocio</h4>
                        <p class="mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2018</p>
                        <p class="mb-0">Consecuencia del éxito logrado, decidimos apostar por nuevos modelos. Siendo
                            innovadores, desarrollamos conceptos de gastronomías asiáticas express, apuntando hacia el
                            desarrollo comercial masivo en sitios como centros comerciales y aeropuertos. Logramos
                            replicar de manera "express" marcas ya exitosas en el mercado.</p>
                    </div>
                </div>
            </div>
            <div class="timeline-2 right-2">
                <div class="card">
                    <img src="https://i.ibb.co/mRdNxXz/ohtoro-isla.jpg" class="card-img-top" alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">Expansión territorial</h4>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2018 - 2019</p>
                        <p class="mb-0">Producto del inalcanzable sueño de llevar un ramen tradicional de calidad a un
                            sector que desconocía totalmente este plato, logramos posicionarlo como uno de los platos
                            tendencia y de moda, lo cual se mantiene hasta hoy en día. Nos permitió, de manera
                            exponencial, aperturar más de 18 franquicias por todo el territorio nacional, creando una
                            nueva tradición en Panamá. Tuve la oportunidad de abrir cada uno de los Oh-Toro's que hoy en
                            día existen.</p>
                    </div>
                </div>
            </div>
            <div class="timeline-2 left-2">
                <div class="card bg-dark text-light">
                    <img src="https://i.ibb.co/H2R8H80/img4.jpg" class="card-img-top" alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">Alta cocina | Fine Dinning</h4>
                        <p class="mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2020</p>
                        <p class="mb-0">Buscando la excelencia, dimos el siguiente paso hacía la alta gastronomía,
                            buscando continuar marcando tendencias, se apertura Marguro Panamá junto a Isaki Casco
                            Antiguo, buscando apuntar a un publico internacional mas exigente.</p>
                    </div>
                </div>
            </div>
            <div class="timeline-2 right-2">
                <div class="card">
                    <img src="https://i.ibb.co/LRvGv45/Oh-toro-03.jpg" class="card-img-top" alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">Legado | Partida a España</h4>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2021</p>
                        <p class="mb-0">La pandemia se encargó de colocar cada cosa en su lugar. Mi destino, por motivos
                            familiares, se encontraba en España. Sin embargo, antes de marcharme, mi última y más
                            importante tarea en franquicias Oh-Toro debía ser completada. El tiempo que nos dejó la
                            pandemia me permitió realizar cuatro manuales de franquicias, que permitirían a Oh-Toro ir
                            al siguiente nivel como negocio. Estos manuales estructuraban desde las aperturas hasta los
                            recetarios y el correcto funcionamiento operativo del franquiciado. Sería este mi legado:
                            procesos claros de funcionamiento y recetas tradicionales que contienen los secretos del
                            mejor ramen de Panamá.</p>
                    </div>
                </div>
            </div>
            <div class="timeline-2 left-2">
                <div class="card bg-dark text-light">
                    <img src="https://i.ibb.co/m8rpjdw/cigarral.png" class="card-img-top" alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">Raíz</h4>
                        <p class="mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2021</p>
                        <p class="mb-0">Llego a España y mi instinto me hace querer reconectar con mucho de lo olvidado,
                            de los sabores del pasado y de buscar conocimientos que hasta ahora para mí no habían sido
                            posibles. Esto me permitió pasar unos meses como <strong>Jefe de Partida</strong> en el
                            Cigarral del Ángel Custodio, sitio donde se encuentra el tan aclamado restaurante del
                            <strong>Chef Iván Cerdeño.</strong> Allí tuve la maravillosa oportunidad de ser parte del
                            equipo ganador de la segunda estrella Michelin y del tercer Sol Repsol, logrando así una de
                            las experiencias más enriquecedoras de mi carrera como cocinero profesional.</p>
                    </div>
                </div>
            </div>
            <div class="timeline-2 right-2">
                <div class="card">
                    <img src="https://i.ibb.co/qrrfH5L/zuma.png" class="card-img-top" alt="Responsive image">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">A new chapter</h4>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2021</p>
                        <p class="mb-0">Llega a Madrid el prestigioso restaurante Zuma. Al ser yo una persona que me especialicé en gastronomía japonesa, la decisión era inevitable. Logré entrar a Zuma como Jefe de Partida de la sección de Robata, donde iluminamos el cielo de Madrid por dos años, siendo partícipe de eventos como la despedida de Marcelo del Real Madrid. Fue una asombrosa experiencia.
                            <br>
                            Luego decido retirarme para continuar mis estudios y es donde comienzo a desarrollar web.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

}