@if (activedLoader) {

<div class="loader-container">

    <div class="loader">
        <div style="--i:1" class="loader_item"></div>
        <div style="--i:2" class="loader_item"></div>
        <div style="--i:3" class="loader_item"></div>
        <div style="--i:4" class="loader_item"></div>
        <div style="--i:5" class="loader_item"></div>
        <div style="--i:6" class="loader_item"></div>
        <div style="--i:7" class="loader_item"></div>
        <div style="--i:8" class="loader_item"></div>
        <div style="--i:9" class="loader_item"></div>
        <div style="--i:10" class="loader_item"></div>
        <div style="--i:11" class="loader_item"></div>
        <div style="--i:12" class="loader_item"></div>
    </div>

</div>

}@else {
<div class="hero">

    <!-- Contenido de tu página aquí -->
    <div class="row ">
        <section id="hero" class="d-flex align-items-center image-bg py-1 parallax">
            <div class="container custom-row">
                <div class="row justify-content-between ">
                    <div
                        class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">

                        <div class="typewriter">
                            <h1>¡Hola! Bienvenido, soy:</h1>
                        </div>
                        <h2>
                            <<span class="text-gradient">Jehiel
                                Linarez</span>/>
                        </h2>
                        <h3>Desarrollador web</h3>
                        <p>Me dedico al desarrollo de aplicaciones web, en este
                            portfolio podrás encontrar de manera mas detallada, mis proyectos, estudios, futuros
                            emprendimientos y probablemente encontraras mas de una manera de comunciarte conmigo, me
                            encuentro sumergido en mis estudios y el mundo de la tecnología con la finalidad de conectar
                            el sector hostelero con la tecnología.</p>
                        <div class="buttons">

                            <a target="_blank" href="https://www.linkedin.com/in/jehiel-linarez/">
                                <button class="rounded">
                                    <span class="text-dark"> To my LinkedIn
                                    </span>
                                </button>
                            </a>

                            <a target="_blank"
                                href="https://www.canva.com/design/DAFvyNgcYg8/pqBj8trI4DJlD6n_-Chi8Q/view?utm_content=DAFvyNgcYg8&utm_campaign=designshare&utm_medium=link&utm_source=editor">
                                <button class="ms-5 rounded">
                                    <span class="text-dark"> My cv
                                    </span>
                                </button>
                            </a>


                        </div>

                    </div>

                    <div class="col-lg-5">
                        <img src="./assets/profile1.jpg" class="img-fluid custom-photo" alt="Foto perfil">
                    </div>


                </div>
            </div>
        </section>
    </div>

</div>




<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="horizontal-bars"></div>
        <h1 class="text-center mb-5 roboto-medium-italic mt-5">Conoce mis proyectos.</h1>

        
        <div class="col-md-4">

            <div class="card" style="background-image: url('https://i.ibb.co/tJz4KhR/company.png');">
                <a target="_blank" href="https://bitesoftware.es/">
                    <div class="card__content">
                        <p class="card__title">Bite Software.</p>
                        <p class="card__description mb-1">Con nuestro sueño hecho realidad, Tech Chef aspira a
                            revolucionar la industria hostelera en España, llevándola hacia un entorno digital. ¡Esta es
                            nuestra startup!</p>
                    </div>

                </a>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card"
                style="background-image: url('https://i.postimg.cc/nLSqYn3s/Captura-de-pantalla-2025-04-10-155218.png');">

                <a target="_blank" href="https://bitefood.es/">
                    <div class="card__content">
                        <p class="card__title">Fudï.</p>
                        <p class="card__description">Plataforma destinada a la gestion de reservas en el sector de
                            hostelería, fue desarrollada full stack por el equipo de Fundación Adecco. Cuenta con
                            tecnologias como Java Spring para el backend y Angular para el Frontend.</p>
                    </div>
                </a>

            </div>

        </div>



        <div class="col-md-4">
            <div class="card"
                style="background-image: url('https://i.ibb.co/fFPNtxy/Captura-de-pantalla-2024-04-30-171615.png');">
                <a target="_blank" href="https://jehiell.github.io/">
                    <div class="card__content">
                        <p class="card__title">Antiguo portfolio.</p>
                        <p class="card__description">Te presento mi antiguo portfolio, realizado con HTML, Css y
                            Javascript, fue mi primer projecto dentro del desarrollo web, fue realizado de manera
                            empiríca, animado por un nuevo mundo que se habría paso.</p>
                    </div>
                </a>

            </div>

        </div>

        <div class="col-md-4">
            <div class="card" style="background-image: url('https://i.ibb.co/myVKvJg/42.png');">
                <a routerLink="projects42">
                    <div class="card__content">
                        <p class="card__title">42 Projects.</p>
                        <p class="card__description">Podras conocer todos mis proyectos en 42 Campus, empezando por la libft una libreria de funciones, en lenguaje C, el ultimo realizado "So long", un video juego que nos ayuda aprender a dominar la minilibx, nuestra libreria grafica.</p>
                    </div>
                </a>

            </div>

        </div>

    </div>
</div>



<div class="slider">

    <div class="slide-track">
        <a target="_blank" href="https://github.com/JehielL/bitebooking-frontend">
            <div class="slide">
                <img src="https://avatars1.githubusercontent.com/u/139426?s=280&v=4" alt="">

            </div>
        </a>

        <a target="_blank" href="https://github.com/JehielL/oop-java-adecco">
            <div class="slide">
                <img src="https://www.vectorlogo.zone/logos/java/java-icon.svg" alt="">

            </div>
        </a>

        <a target="_blank" href="https://github.com/JehielL/java-spring">
            <div class="slide">
                <img src="https://cdn.worldvectorlogo.com/logos/spring-3.svg" alt="">

            </div>
        </a>

        <a target="_blank" href="https://github.com/JehielL/curso-java/tree/main/Python">

            <div class="slide">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Python_logo_51.svg/1200px-Python_logo_51.svg.png"
                    alt="">

            </div>

        </a>
        <a target="_blank" href="https://github.com/JehielL/curso-java/tree/main/SQL">
            <div class="slide">
                <img src="https://www.vectorlogo.zone/logos/mysql/mysql-official.svg" alt="">

            </div>

        </a>

        <div class="slide">
            <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png" alt="">

        </div>

        <a target="_blank" href="https://github.com/JehielL/bitebooking-frontend">
            <div class="slide">
                <img src="https://icons.veryicon.com/png/o/business/vscode-program-item-icon/typescript-def.png" alt="">

            </div>
        </a>

        <div class="slide">
            <img src="https://static-00.iconduck.com/assets.00/postman-icon-2048x2048-dsydvxav.png" alt="">

        </div>

    </div>
</div>



<div class="counts container">
    <div class="horizontal-bars"></div>
    <h1 class="text-center  roboto-medium-italic mt-5">Habilidades, estudios & futuros proyectos.</h1>
    <div class="row text-center  justify-content-center">

        <div class="col-lg-3 col-md-6 mt-5 mx-3">
            <div class="count-box">
                <i class="bi bi-bricks"></i>
                <strong>Frontend skills.</strong>


                <p>Solidos conocimientos en desarrollo frontend, los ultimos 6 meses me he mantenido inmerson en el
                    desarrollo de aplicaciones web con el framework Angular y el motor de estilos Bootstrap, de la mano
                    de <span>Certidevs</span> he logrado adquirir a profundidad los conocimientos necesarios para
                    desarrollarme en puestos de desarrollo UX/IX, Frontend.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5 mx-3">
            <div class="count-box">
                <i class="bi bi-robot"></i>
                <strong>Backend skills.</strong>
                <p>Desde lo tecnológico brindando soporte a mis compañeros, realizando e implementando metodos,
                    funciones,
                    arquitectura de software, Validaciones de usuarios, Servicios, liderando y apoyando las distintas
                    etapas del
                    desarrollo de BiteBooking, logre adquirir habilidades en creación de servicios con la tecnología
                    Spring boot de Java.</p>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5">
            <div class="count-box">
                <i class="bi bi-bricks"></i>
                <strong>Soft skills.</strong>
                <p class="mb-3">Con una solida trayectoría dentro de la hostelería, logrando hitos significativos como
                    miembro fundador de franquicias <a
                        style="text-decoration: none; color:red; font-weight: bold;">Oh-Toro</a>, he logrado desarrollar
                    habilidades que me permiten relacionarme y trabajar en equipo, siendo uno de los pilares
                    fundamentales en mi trayectoria laboral.
                </p>
            </div>
            <br>
        </div>


    </div>
</div>


<div class="container marketing" style="background-color: #f9f9f9; padding:50px;">

    <div class="row featurette">
        <div class="col-md-8">
            <h2 class="featurette-heading fw-normal mt-5">Futuros estudios. <span class="text-body-secondary">Up to
                    you.</span></h2>
            <p class="lead">Comprometido con mi crecimiento y estudios, este año 2024, he participado en las conocidas
                <a target="_blank" href="https://www.42madrid.com/"
                    style="text-decoration: none; font-weight: 600; color:black">
                    Piscinas</a>, del prestigioso campus 42 de Fundación Telefonica, donde me encuentro desarrollando
                habilidades en el lenguaje C, como lo son: algoritmos, creación de funciones, gestión de memoría, linux,
                cyberseguridad y muchisimos otros excitantes proyectos, te recomiendo visitar mi ultimo proyecto
                realizado en <strong>42.</strong>
            </p>

            <a target="_blank" href="https://github.com/JehielL/libft"><button class="btn btn-outline-dark">Visitar
                    ultimo proyecto
                    realizado.</button></a>
        </div>
        <div class="custom-icon col-md-3 mt-5">
            <img class="custom-img" src="https://jobinplanet.com/media/83659" alt="" style="max-width: 300px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette ">
        <div class="col-md-6 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Master en desarrollo de aplicaciones web. <span
                    class="text-body-secondary">Una meta mas alcanzada.</span></h2>
            <p class="lead">Desde el año 2023 me encuentro sumergido en un master intensivo de desarrollo web, este fue
                impartido por <a href="https://certidevs.com/"
                    style="text-decoration: none; color:black; font-weight: 500;"> Certidevs</a>, en el cual hemos
                contado con la participación de Alan sastre como instructor, el cual ha garantizado mediante su
                plataforma, evaluado a traves de inteligencia artificial, que hemos completado satisfactoriamente la
                formación que nos permite acceder al mundo laboral.</p>
            <button class="btn btn-outline-dark" routerLink="projects-list">Conoce mis certificados aprobados.</button>

        </div>

        <div class="col-md-6 order-md-1 justify-content-center align-items-center ">
            <a target="_blank" href="https://certidevs.com/">
                <img class="custom-img" src="https://i.ibb.co/RyPf8fF/certidevs-portada-formacion-removebg-preview.png"
                    alt="" style="max-width: 200px;">
            </a>
            <a target="_blank"
                href="https://www.canva.com/design/DAGECCz67b8/w1WmONl7eaku0hkMvuwixg/view?utm_content=DAGECCz67b8&utm_campaign=designshare&utm_medium=link&utm_source=editor">
                <img class="custom-img"
                    src="https://fundacionadecco.org/wp-content/uploads/2017/05/logo-fundacion-adecco-discapacidad.png"
                    alt="" style="max-width: 200px;">
            </a>

        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-8">
            <h2 class="featurette-heading fw-normal ">Futuros proyectos. <span class="text-body-secondary">Tech
                    Chef.</span></h2>
            <p class="lead">Apostando por el talento, mis creencias y afianzado en que el futuro es ahora, he decidido
                fundar
                <a target="_blank" href="https://www.42madrid.com/"
                    style="text-decoration: none; font-weight: 600; color:black">
                    Tech Chef</a>, con
                el objetivo de avanzar el proceso de digitalización de la hostelería en España, realizando
                investigaciones y desarrollos que lleven a una economía mas sostenible, apoyando y asesorando al
                pequeño comercio.
            </p>

            <div class="tooltip-container">
                <a target="_blank" href="https://tech-chef.vercel.app/">
                    <button class="btn btn-outline-dark text">Visita nuestra startup</button>

                </a>>


            </div>

        </div>
        <div class="col-md-4 ">
            <img class="custom-img rotating-image" src="https://i.ibb.co/tKV9fKn/logo-tech2.png" alt=""
                style="max-width: 350px;">
        </div>
    </div>

    <hr class="featurette-divider">


    <div class="row featurette ">
        <div class="col-md-6 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Mi trayectoria en la hostelería. <span
                    class="text-body-secondary">Un sueño logrado.</span></h2>
            <p class="lead">Desde el año 2023 me encuentro sumergido en un master intensivo de desarrollo web, este fue
                impartido por <a href="https://certidevs.com/"
                    style="text-decoration: none; color:black; font-weight: 500;"> Certidevs</a>, en el cual hemos
                contado con la participación de Alan sastre como instructor, el cual ha garantizado mediante su
                plataforma, evaluado a traves de inteligencia artificial, que hemos completado satisfactoriamente la
                formación que nos permite acceder al mundo laboral.</p>
            <button class="btn btn-outline-dark" routerLink="timeline-chef">Conoce mi carrera.</button>

        </div>

        <div class="col-md-6 order-md-1 justify-content-center align-items-center ">
            <a target="_blank" href="https://certidevs.com/">
                <img class="custom-img img-profile"
                    src="https://i.ibb.co/yY49sKh/Captura-de-pantalla-2024-06-11-003555.png" alt=""
                    style="max-width: 330px;">
            </a>


        </div>
    </div>

</div>


<section id="contacto">
    <div class="form-container">
        <div class="form">

            <h3 class="titulo-seccion   p-2 text-center">Contáctanos ahora</h3>
            <div class="form-group">
                <form action="https://formsubmit.co/jehiel.py@gmail.com" method="POST">

                    <div class="labels">
                        <input type="text" name="name" id="name" placeholder="Nombre Completo" class="input-mitad"
                            required>
                        <br>
                        <input type="email" name="email" id="email" placeholder="Dirección de Email" class="input-mitad"
                            required>


                        <input type="text" name="subject" id="subject" placeholder="Asunto..." class="input-full">


                        <textarea name="message" id="message" cols="30" rows="10" placeholder="Tu Mensaje..."
                            class="input-full" required></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-dark">Enviar Mensaje</button>

                    </div>
                    <input type="hidden" name="_next" value="http://localhost:4200/">
                    <input type="hidden" name="_captcha" value="false">
                </form>

            </div>

        </div>
    </div>


</section>
}