<div class="hero">


    <!-- Contenido de tu página aquí -->
    <div class="row ">
        <section id="hero" class="d-flex align-items-center image-bg">
            <div class="container custom-row">
                <div class="row justify-content-between ">
                    <div
                        class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                        <h2 data-aos="zoom-out">¡Hola! Bienvenido, soy: <br> <span class="text-gradient">Jehiel
                                Linarez</span>
                        </h2>
                        <h3>Desarrollador web</h3>
                        <p data-aos="fade-up" data-aos-delay="200">En bitebooking, puedes llevar lo mejor de tu
                            Gastronomía a
                            tus clientes, sabemos lo importante que es ofrecer tus productos, con nosotros cuentas
                            con una sección dedicada a promocionar lo mejor de tu cocina.</p>
                    </div>
                    <div class="col-lg-5">
                        <img src="https://media.licdn.com/dms/image/D4D03AQHzgbxlBXh0mw/profile-displayphoto-shrink_800_800/0/1712954050224?e=1720051200&v=beta&t=5DgHK696p0V1MAirQ2g47-SKBfX5zCltGX8b1ffSouQ"
                            class="img-fluid custom-photo" alt="" data-aos="zoom-out" data-aos-delay="300">
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>

<div class="slider">
    <div class="slide-track">
        <div class="slide">
            <img src="https://avatars1.githubusercontent.com/u/139426?s=280&v=4" alt="">

        </div>
        <div class="slide">
            <img src="https://www.vectorlogo.zone/logos/java/java-icon.svg" alt="">

        </div>
        <div class="slide">
            <img src="https://cdn.worldvectorlogo.com/logos/spring-3.svg" alt="">

        </div>
        <div class="slide">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Python_logo_51.svg/1200px-Python_logo_51.svg.png"
                alt="">

        </div>
        <div class="slide">
            <img src="https://www.vectorlogo.zone/logos/mysql/mysql-official.svg" alt="">

        </div>
        <div class="slide">
            <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png" alt="">

        </div>
        <div class="slide">
            <img src="https://icons.veryicon.com/png/o/business/vscode-program-item-icon/typescript-def.png" alt="">

        </div>
        <div class="slide">
            <img src="https://static-00.iconduck.com/assets.00/postman-icon-2048x2048-dsydvxav.png" alt="">

        </div>

    </div>
</div>

<div data-aos="fade-up" class="counts container">
    <div class="row">
        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
                <i class="bi bi-bricks"></i>
                <strong>Frontend skills.</strong>
                <p>Desde lo tecnológico brindando soporte a mis compañeros, realizando e implementando metodos,
                    funciones,
                    arquitectuzra de software, desarrollo de producto, UI/UX, liderando y apoyando las distintas
                    etapas del
                    desarrollo de BiteBooking.</p>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
                <i class="bi bi-kanban"></i>
                <strong>Backend Skills.</strong>
                <p>Construir una Fuerte red laboral que me permita llevar adelante emprendimientos relacionados a la
                    hostelería, mi meta es muy simple, quiero llevar la hostelería y la teconología a un terreno
                    donde se puedan encontrar, </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="count-box">
                <i class="bi bi-highlighter"></i>
                <strong>Futuros Estudios</strong>
                <p class="custom-p">Inmerso completamente en la tecnología, este año he sido aceptado como
                    estudiante del
                    innovador campus 42 Madrid fundación Telefonica, sera una de las distintas herramientas que
                    utilizare para
                    continuar mi crecimiento profesional.</p>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
                <i class="bi bi-person-workspace"></i>
                <strong>Perfil laboral</strong>
                <ul>
                    <li>Full Stack Developer</li>
                    <li>Java Backend Developer</li>
                    <li>Angular Frontend Developer</li>
                    <li>UI/UX</li>
                </ul>
            </div>
        </div>
    </div>
</div>