.custom-col {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.426);
  margin: 40px auto;
  border-radius: 40px;
  padding: 30px;
  max-width: 400px;
}

.text-gradient {
  background: linear-gradient(to right, #00ffdd, #cf74c0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}




.custom-title {
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 20px;
  font-family: Noto Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 300px) {
  .custom-col {
    margin-top: 50px;
    margin-bottom: 0;
  }
}

.hero {
  width: 100%;
  background-size: cover;
  position: relative;
}

.content {
  position: relative;
  z-index: 1;
  height: 55vh; /* Agregado */
}

.section-bg {
  position: relative;
  width: 100vw;
  height: 50vh;
  color: black;
  z-index: 0;
  margin: 10px auto;
}

.custom-photo {
  border-radius: 100px;
  max-width: 75%;
  height: auto;
}

.custom-btn {
  margin-right: 30%;
}

.img-fluid {
  border-radius: 50%;
  margin-left: 30%;
  margin-top: 3rem;
}

.custom-row {
  margin-bottom: 70px;
}

@media screen and (max-width: 468px) {
 

  .hero h2 {
    font-size: 48px;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .hero p {
    font-size: 16px;
  }
  .custom-icon{
    max-width: 100px !important;
  }
}

@media screen and (max-width: 992px) {
  
  .hero h2 {
    font-size: 48px;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .hero p {
    font-size: 16px;
  }
  .custom-photo {
    border-radius: 100px;
    max-width: 50%;
    height: auto;
    margin-bottom: 30px;
  }
  .typewriter h1{
    font-size: 20px !important;
    
  }
  .count-box{
    width: 80% !important;
    padding: 30px 30px 25px 30px;
    position: relative;
    text-align: center;
    background: rgba(2, 8, 12, 0.607);
    border-radius: 30px;
    margin-left: 10%;
  
  }
  .custom-img{

    max-width: 200px !important;
    align-items: center;
    margin-left: 20%;
    margin-top: 2rem;
  }

  .parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position-y: -100px; 
    max-width: 102vw !important;
    margin-top: -40px;
   
  }
  .loader-container{
    transform: translate(-50%, -50%);
    width: 30px; 
    height: 30px; 
  
    margin-left: 45% !important;
    margin-top: 20%;
    margin-bottom: 30%;
  
  }
  
}

.counts {
  padding: 30px 0 60px;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: rgba(2, 8, 12, 0.607);
  border-radius: 30px;
}

.counts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px;
  color: #4ce8eb;
  border-radius: 50px;
  line-height: 0;
}

.counts .count-box strong {
  display: block;
  color: #fff;
}

.counts .count-box li {
  color: rgb(197, 190, 190);
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.counts .count-box p {
  color: rgb(197, 190, 190);
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}


.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: inherit;
}

.slider {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
  padding: 10px;
}

.slider .slide-track {
  display: flex;
  animation: scroll 15s linear infinite;
  -webkit-animation: scroll 15s linear infinite;
  width: fit-content;
}

.slider .slide {
  width: 150px;
  margin-right: 100px;
  max-width: 80px;
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(100%); /* Mueve todos los slides fuera de la vista hacia la derecha */
  }
  100% {
    transform: translateX(-100%); /* Mueve todos los slides fuera de la vista hacia la izquierda */
  }
}

.slider .slide:hover .slide-track {
  animation-play-state: paused;
}

.slider .slide:hover {
  cursor: pointer; /* Cambia el cursor al pasar sobre los slides */
}


button {
 position: relative;
 height: 50px;
 padding: 0 30px;
 border: 2px solid #000;
 user-select: none;
 white-space: nowrap;
 transition: all .05s linear;
 font-family: inherit;
 margin-top: 2rem;
}

button:before, button:after {
 content: "";
 position: absolute;
 transition: all .2s linear;
}

button:before {
 width: calc(100% + 6px);
 height: calc(100% - 16px);
 top: 8px;
 left: -3px;
}

button:after {
 width: calc(100% - 16px);
 height: calc(100% + 6px);
 top: -3px;
 left: 8px;
}

button:hover {
 cursor: crosshair;
}

button:active {
 transform: scale(0.95);
}

button:hover:before {
 height: calc(100% - 32px);
 top: 16px;
}

button:hover:after {
 width: calc(100% - 32px);
 left: 16px;
}

button span {
 font-size: 15px;
 z-index: 3;
 position: relative;
 font-weight: 600;
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  background-position: center; 
  background-size: cover; 
  margin: 20px auto; 
  border: 0px !important;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.container-fluid {
  padding: 50px; 
  display: flex;
  align-items: center; 
  justify-content: center;
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  border-radius: 10px; 
  overflow: hidden;
}

.card__content img {
  width: 100%; 
  height: auto; 
  border-radius: 10px;
}



.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 10px; 
}

body {
  background: #333;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #ffffff;
  font-size: 30px;
  font-family: monospace;
  overflow: hidden; 
  border-right: .15em solid #0bd1df; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #0bd1df }
}


/* CONTACTANOS */

#contacto {
  padding: 50px 15px;

}

.btn-primary:hover {
  background-position: right center;
}

.asking {
  background-color: white;
}

.form-container {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  background: transparent;
  border: 2px solid black;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  align-items: center;
  /* Centra los elementos horizontalmente */
}

.btn-primary {
  border: none;
  transition: background-position 0.3s ease;
  background-size: 200% auto;
  width: 50%;
  margin-left: 25%;
  margin-top: 10px;
}

.btn-primary:hover {
  background-position: right center;
}


.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 10px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
  margin-top: 10px;
}

.row{
        --bs-gutter-x: 1rem;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
  margin-top: 10px;
}

.featurette-divider {
  margin: 5rem 0; 
}
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.tooltip-container {
  color: #ffffff;
  position: relative;
  background: var(--background);
  cursor: pointer;
  transition: all 0.2s;
  font-size: 17px;
  width: 50%;

}

.tooltip {
  background-color: #00a36d;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  border-radius: 20px;
  padding: 10px;
}

.tooltip::before {
  background-color: #00a36d;
  position: absolute;
  content: "";
  bottom: -0.2em;
  transform: translate(-50%) rotate(45deg);
}

.tooltip-container:hover .tooltip {
  top: -70%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.parallax {
  background-image: url('https://64.media.tumblr.com/fc671558a154e20251fc7e75ccba938a/tumblr_p29irjTxms1wvcbfqo1_1280.gif');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 99vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position-y: -100px; 
  max-width: 99.5vw;
 
}

@keyframes rotate-clockwise {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg); 
  }
  100% {
    transform: rotate(0deg); 
  }
}

@keyframes rotate-counter-clockwise {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-15deg); 
  }
  100% {
    transform: rotate(0deg); 
  }
}

.rotating-image {
  transition: transform 1s ease;
  animation: rotate-clockwise 10s linear infinite alternate;
  border-radius: 50%;
}

